body {
  margin: 0;
  padding: 0;
  background-color: #e9ecef; /* Світло-сірий фон для всієї сторінки */
}

.app-main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.main-title {
  text-align: center;
  color: #212529;
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
}